.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 20px 15px;
}

.card-trip > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 18px;
  font-weight: bold;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.card-trip-pricing {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.card-trip-pricing > img{
  width: 10px;
  margin-right: 5px;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
