h1 {
  font-family: $headers-font;
  color: $white;
  font-size: 36px;
  text-align: center;
}

h2{
  font-family: "Roboto";
  color: black;
  font-size: 18px;
}

.white {
color : $white;
}

.yellow {
color : $yellow;
}
