 <div class="title">
  <h1><span class="white">PRIX DES TRANSPORTS</span> <span class="yellow">PAR VILLE</span></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card-trip">
        <img src="https://images.kiwi.com/photos/600x600/madrid_es.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Madrid</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src='http://flags.fmcdn.net/data/flags/w1160/es.png' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card-trip">
      <img src="https://images.kiwi.com/photos/600x600/barcelona_es.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Barcelone</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src='http://flags.fmcdn.net/data/flags/w1160/es.png' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card-trip">
      <img src="https://images.kiwi.com/photos/600x600/porto_pt.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Porto</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src='http://flags.fmcdn.net/data/flags/w1160/pt.png' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card-trip">
      <img src="https://images.kiwi.com/photos/600x600/venice_it.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Venise</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src='http://flags.fmcdn.net/data/flags/w1160/it.png' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card-trip">
      <img src="https://images.kiwi.com/photos/600x600/berlin_de.jpg">
        <div class="card-trip-infos">
          <div>
            <h2>Berlin</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src='http://flags.fmcdn.net/data/flags/w1160/de.png' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card-trip">
        <img src="https://images.kiwi.com/photos/600x600/milan_it.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Milan</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
            <img src='http://flags.fmcdn.net/data/flags/w1160/it.png' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card-trip">
        <img src="https://images.kiwi.com/photos/600x600/amsterdam_nl.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Amsterdam</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
            <img src='http://flags.fmcdn.net/data/flags/w1160/nl.png' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card-trip">
        <img src="https://images.kiwi.com/photos/600x600/dublin_ie.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Dublin</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
            <img src='http://flags.fmcdn.net/data/flags/w1160/ie.png' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card-trip">
        <img src="https://images.kiwi.com/photos/600x600/bordeaux_fr.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Bordeaux</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
            <img src='http://flags.fmcdn.net/data/flags/w1160/fr.png' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="card-trip">
        <img src="https://images.kiwi.com/photos/600x600/paris_fr.jpg">
          <div class="card-trip-infos">
            <div>
              <h2>Paris</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
            <img src='http://flags.fmcdn.net/data/flags/w1160/fr.png' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
    </div>
  </div>
</div>
